*.txt
*.gz
*.tbi
*.log
*.zip
*.html
*.gtf
*.DS_Store

.ipynb_checkpoints
.python-version
__pycache__
.idea/
model_training/dbs/
model_training/joblogs/
prepare_data/logs/
prepare_data/genotype/logs/
model_training/scripts/not_ran*
